<app-header-client></app-header-client>
<main class="main-detail">
  <h2 class="title-work">{{workDetail.name}}</h2>
  <div class="detail-time">
    <div class="date-detail">
      <p>2020</p>
    </div>
    <div class="category-detail">
      <a href=""> Dashboards </a>
    </div>
  </div>
  <div class="detail-desc">
    <p>
      {{workDetail.desc}}
    </p>
  </div>
  <div class="img-detail">
    <img
      class="img-item-detail"
      src="{{workDetail.image}}"
      alt=""
    />
  </div>
  <h3>Heading 1</h3>
  <h4>Heading 2</h4>
  <div class="detail-desc">
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="img-detail">
    <img
      class="img-item-detail"
      src="https://i.pinimg.com/564x/5f/11/08/5f11084fb6bd9908e35c3c74480cd36f.jpg"
      alt=""
    />
  </div>
  <div class="img-detail">
    <img
      class="img-item-detail"
      src="https://i.pinimg.com/564x/5f/11/08/5f11084fb6bd9908e35c3c74480cd36f.jpg"
      alt=""
    />
  </div>
</main>
<app-footer-client></app-footer-client>
