<app-navbar></app-navbar>

<div class="form-title">
  <h2>Category Post</h2>
</div>

{{ categoryPost | json }}

<div class="main-content">
  <form #formAdd="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">name</label>
      <input
        type="text"
        class="form-control"
        placeholder="name"
        name="name"
        #name="ngModel" required minlength="5"
        [(ngModel)]="categoryPost.name"
      />
      <div *ngIf="name.errors" class="alert">
        <div  class="alert alert-danger" *ngIf="name.errors?.['required'] && (name.dirty || name.touched)">
            title is required
        </div>
        <div  class="alert alert-danger" *ngIf="name.errors?.['minlength'] && (name.dirty || name.touched)">
            Min length is 5
        </div>
    </div>
    </div>
 
    <button [disabled]="!formAdd.valid"  class="btn btn-success">Submit</button>
    <button  routerLink="/admin/categories/posts" class="btn btn-dark back-list">Back</button>
  </form>
</div>
